@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

.container{
    display: flex;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
    height: 10%;
    width: 90%;
    position: relative;
}


.header .sobreMi a{
    text-decoration: none;
    font-size: 30px;
    color: rgb(0, 0, 0);
}


.header .sobreMi a:hover{
    color: #6a656e;

}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    color: #040b0f;
    text-decoration: none;
    font-size: 25px;
	
}

.header .nav-links li a:hover{
    color: #6a656e;;
}

.header .btn {
    color: #040b0f;
    text-decoration: none;
    font-size: 25px;
}
.header .btn:hover{
    color: #6a656e;
}

@media screen and (max-width: 800px) {
    .header {
     width: 70%;
  
    }
  }
