/* .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 100vh; 
  text-align: center;
  color: rgb(141, 141, 141);
  font-family: "Courier New", Courier, monospace;
  background-repeat: repeat;
} */
.contenedor{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 100vh; 
  text-align: center;
  color: rgb(141, 141, 141);
  font-family: "Courier New", Courier, monospace;
  background-repeat: repeat;
}


.perfil{
  display: flex;
  width: 50vw;
  height: 100vh;
  justify-content: center;
  align-content: flex-start;
    align-items: flex-start;
}

#foto {
 border-radius: 5000px;
 border-color: rgb(251, 244, 244);
 border-style: groove;
   width: 400px;
  height: 400px;
}

@media screen and (max-width: 800px) {
  #foto {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 800px) {
  .contenedor {
     flex-direction: column;

  }
}

.contenido{
  display: flex;
  width: 40vw;
  height: 100vh;
  flex-wrap: nowrap;
   margin-top: 9%;
  flex-direction: column;

  text-align: center;
  color: rgb(141, 141, 141);
  font-family: "Courier New", Courier, monospace;
  background-repeat: repeat;
}

h2 {
  color: rgb(0, 0, 0);
  top: 10px;
  font-size: clamp(10px, 10vw, 30px);
}
ul{
  margin: 10px 30px 30px 30px;
}
.name {
  color: rgb(0, 0, 0);
  font-size: 80px;
}
.date {
  color: rgb(84, 84, 84);
  font-size: 15px;
  font-weight: 900;
 }
 footer {
  background-color: rgb(20, 20, 20);
}



body{
  background: rgb(12,127,186);
  background: linear-gradient(90deg, rgba(12,127,186,0.5802696078431373) 9%, rgba(0,255,142,0.13209033613445376) 28%, rgba(4,182,203,0.804359243697479) 81%, rgba(0,212,255,1) 100%);
}
p{
  color: black;
}
.name{
  font-size: 40px;
}